/* W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}

/*Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{
    -ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}
summary{display:list-item}
audio,canvas,progress,video{display:inline-block}
progress{vertical-align:baseline}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}
hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}
button,input{overflow:visible}
button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */


html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}

h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.w3-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}



/*-- Sidebar/menu ---*/

.w3-sidebar{
    height:100%;
    width:200px;
    background-color:#fff;
    position:fixed!important;
    z-index:1;
    overflow:auto}

@media (max-width:768px){.w3-modal-content{width:500px}.w3-modal{padding-top:50px}}
@media (min-width:993px){.w3-modal-content{width:900px}.w3-hide-large{display:none!important}.w3-sidebar.w3-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.w3-hide-medium{display:none!important}}
@media (max-width:992px){.w3-sidebar.w3-collapse{display:none}.w3-main{margin-left:0!important;margin-right:0!important}.w3-auto{max-width:100%}}

.w3-red,.w3-hover-red:hover{
    color:#fff!important;
    background-color:#881a22!important}

.w3-top{
    position:fixed;
    width:100%;
    z-index:1;
    top:0}

.w3-font-large{
    font-size:18px!important}


.w3-padding{
    padding:8px 16px!important}

.w3-btn,.w3-button{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap}


.w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   

.w3-disabled,.w3-btn:disabled,.w3-button:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}



.w3-button{
    white-space:normal}

.w3-dropdown-hover.w3-mobile,.w3-dropdown-hover.w3-mobile .w3-btn,.w3-dropdown-hover.w3-mobile .w3-button,.w3-dropdown-click.w3-mobile,.w3-dropdown-click.w3-mobile .w3-btn,.w3-dropdown-click.w3-mobile .w3-button{width:100%}}


.w3-button:hover{
    color:#000!important;
    background-color:#ccc!important}

.w3-display-topleft{
    position:absolute;
    left:0;top:0}
.w3-display-topright{
    position:absolute;right:0;top:0}

.w3-padding-16{
    padding-top:16px!important;padding-bottom:16px!important}
.w3-padding-24{
    padding-top:24px!important;padding-bottom:24px!important}
.w3-padding-32{
    padding-top:32px!important;padding-bottom:32px!important}
.w3-padding-48{
    padding-top:48px!important;padding-bottom:48px!important}
.w3-padding-64{
    padding-top:64px!important;padding-bottom:64px!important}
.w3-padding-top-64{
    padding-top:64px!important}
.w3-padding-top-48{
    padding-top:48px!important}
.w3-padding-top-32{
    padding-top:32px!important}
.w3-padding-top-24{
    padding-top:24px!important}

.w3-bar-block .w3-dropdown-hover,.w3-bar-block .w3-dropdown-click{width:100%}
.w3-bar-block .w3-dropdown-hover .w3-dropdown-content,.w3-bar-block .w3-dropdown-click .w3-dropdown-content{min-width:100%}

.w3-bar-block .w3-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}


.w3-white,.w3-hover-white:hover{color:#000!important;background-color:#fff!important}




/* Top menu on small screens */
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,

.w3-container,.w3-panel{
    padding:0.01em 16px}

.w3-panel{
    margin-top:16px;margin-bottom:16px}

.w3-xlarge{font-size:24px!important}.w3-xxlarge{font-size:36px!important}.w3-xxxlarge{font-size:48px!important}.w3-jumbo{font-size:64px!important}

.w3-margin-left{margin-left:16px!important}.w3-margin-right{margin-right:16px!important}


/*-- Overlay effect when opening sidebar on small screens --*/

.w3-overlay{
    position:fixed;
    display:none;
    width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}



/*-- !PAGE CONTENT! --*/


.w3-main,#main{transition:margin-left .4s}


/*-- Header --*/

.w3-text-red,.w3-hover-text-red:hover{color:#881a22!important}

.w3-round-small{
    border-radius:2px}
.w3-round,.w3-round-medium{
    border-radius:4px}
.w3-round-large{border-radius:8px}.w3-round-xlarge{border-radius:16px}.w3-round-xxlarge{border-radius:32px}



/*-- Modal for full size images on click--*/
.w3-modal{
    z-index:3;
    display:none;
    padding-top:100px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4);
    padding-top:10px}

.w3-modal-content{
    margin:auto;
    background-color:#fff;
    position:relative;
    padding:0;
    outline:0;
    width:600px}

.w3-animate-zoom{
    animation:animatezoom 0.6s}
    @keyframes animatezoom{
        from{transform:scale(0)} to{transform:scale(1)}}

.w3-bar-block.w3-center .w3-bar-item{
    text-align:center}

.w3-block{
    display:block;width:100%}
    
.w3-center{
    text-align:center!important;
    width:auto;
    text-align:center;}
    
.w3-transparent,.w3-hover-none:hover{background-color:transparent!important}

.w3-black, .w3-hover-black:hover{
    color: #fff!important;
    background-color: #000!important;}

@media (max-width:600px){
    .w3-modal-content{
        margin:0 10px;
        width:auto!important}}
    

/*-- Transmidia --*/
        
.transmidia{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
}

.transmidia img{
    box-shadow: 2px 2px 3px #777, 3px 3px 10px #babaca;
    cursor:pointer
}

.midia{
        width:33%;
        padding: 1%;
}

.legenda{
        font-family: sans-serif;
        color: #555;
        margin: 2px;
        font-size: 0.9rem;
}

.traco{
    border-radius: 4px;
    width:50px;
    border:2px solid #881a22;
    margin-top: 0px;
    margin-bottom: 30px
}

.w3-container{
    max-width: 800px}



